{% extends "index.jinja2" %}
{% block page_content %}
<div class="container">
    <div id="film-list">
        {% for film in films %}
        <div class="col-md-12">
            <div>
                <div class="col-md-3">
                    {% if film.poster_cache %}
                        <img class="poster" src="{{ request.static_url('ncmdb:static/img/cache/posters/' + film.poster_cache) }}">
                    {% else %}
                        <img class="poster" src="{{ request.static_url('ncmdb:static/img/missing_poster.png') }}">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <h2>
                        <em>{{ film.title }}</em> ({{ film.year }})</h2>
                    <p>{% if film.rating %}{{ film.rating }}{% endif %}
                        {% if film.rating and film.runtime %} | {% endif %}
                        {% if film.runtime %}{{ film.runtime }} min.{% endif %}</p>
                    <hr />
                    <p>{{ film.plot }}</p>
                    <p><strong>Directed by:</strong> {{ ', '.join(film.directors) }}<br />
                    <strong>Written by:</strong> {{ ', '.join(film.writers) }}<br />
                    <strong>Starring:</strong> {{ ', '.join(film.cast) }}</p>
                    {% if film.wiki_uri %}
                        <a href="{{ film.wiki_uri }}" class="btn btn-default">Wikipedia</a>
                    {% endif %}
                    {% if film.trailer_uri %}
                        <a href="{{ film.trailer_uri }}" data-toggle="modal" data-target="#lightbox" class="btn btn-primary">Watch Trailer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="lightbox" class="modal fade" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true"></a>
                <div class="modal-body">
                    <div id="trailerVideoContainer" class="embed-responsive embed-responsive-16by9"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ request.static_url('ncmdb:static/js/lightbox.js') }}"></script>
{% endblock %}