<!DOCTYPE html>
<html lang="en">
<head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>NCMDb{% if title %} - {{ title }}{% endif %}</title>

    <!-- Include OpenSans, JQuery and Bootstrap -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" type="text/css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ request.static_url('ncmdb:static/css/ncmdb.css') }}" type="text/css">

    {% block head %}
    {% endblock %}
</head>
<body class="with-top-navbar">
    <!-- Navbar -->
    {% include "navbar.jinja2" %}

    <!-- Page Content -->
    {% block page_content %}
    {% endblock %}

    <!-- Footer -->
    {% include "footer.jinja2" %}

    <!-- Include jQuery, Query UI and Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>